/* layout */
.nav,
.container {
  max-width: 1296px;
  margin: 0 auto;
}

.nav {
  padding: 17px 0;
}

.nav .logo-wrapper {
  width: 129px;
  margin-right: 48px;
  height: 46px;
}

.nav .logo {
  display: inline-block;
  background-image: url("../img/logo.png");
  width: 100%;
  height: 100%;
  text-indent: 100%;
  text-wrap: nowrap;
  overflow: hidden;
}

.nav .logo {
  margin-right: 60px;
}

.nav-links.d-flex {
  gap: 40px;
}

.nav-link-item {
  font-weight: 500;
  letter-spacing: 0.05em;
}

.nav-icon-link {
  margin-left: auto;
}

.nav-icon-link svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.breadcrumb-link:link,
.breadcrumb-link:visited {
  color: #6c757d;
}

.breadcrumb-link:hover,
.breadcrumb-link:active {
  color: #212529;
}

a.breadcrumb-link.active {
  color: #212529;
}

.breadcrumb span {
  display: inline-block;
  margin: 0 12px;
  color: #dee2e6;
}

.link-item:link,
.link-item:visited {
  color: #212529;
}

.link-item:hover,
.link-item:active {
  color: #6c757d;
}

.image-container,
.image-container img {
  width: 100%;
}

.dollar-sign {
  font-family: "Roboto Mono", sans-serif;
}

.promotion h3 {
  font-size: 24px;
  background-color: #e8fec5;
  text-align: center;
  padding: 33.5px 0;
}

.promotion a {
  font-size: 16px;
  display: inline-block;
  margin-left: 24px;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.promotion a:link,
.promotion a:visited {
  background-color: #212529;
}

.promotion a:hover {
  background-color: #495057;
}

.footer {
  background-color: #f8f9fa;
  padding: 64px 0;
}

.footer h2 {
  margin-right: auto;
}

.footer-nav .logo-wrapper {
  width: 129px;
  margin-right: 48px;
  height: 46px;
}

.footer-nav .logo {
  display: inline-block;
  background-image: url("../img/logo.png");
  width: 100%;
  height: 100%;
  text-indent: 100%;
  text-wrap: nowrap;
  overflow: hidden;
}

.footer-nav .nav-links {
  margin-left: auto;
}

.footer .copyright {
  font-size: 14px;
  color: #6c757d;
  text-align: center;
  padding-top: 32px;
  border-top: 1px solid #dee2e6;
}

/*===layout RWD===*/
@media screen and (max-width: 768px) {
  /* header */
  .nav {
    padding: 13px 12px;
  }

  header .nav-links {
    display: none;
  }
  /* promotion */
  .promotion h3 {
    font-size: 20px;
    padding: 32px 0;
  }

  .promotion a {
    margin-left: 16px;
    padding: 8px 16px;
  }

  /* footer */
  .footer {
    padding: 32px;
  }

  .footer-nav,
  .footer-nav .nav-links {
    flex-direction: column;
  }

  .footer-nav .nav-links {
    margin-left: 12px;
    display: block;
  }

  .footer-nav .nav-links li {
    padding: 12px 0;
  }
}

/* grid system */
.col-2 {
  width: calc(2 / 12 * 100%);
}

.col-3 {
  width: calc(3 / 12 * 100%);
}

.col-4 {
  width: calc(4 / 12 * 100%);
}

.col-5 {
  width: calc(5 / 12 * 100%);
}

.col-6 {
  width: calc(6 / 12 * 100%);
}

.col-7 {
  width: calc(7 / 12 * 100%);
}

.col-10 {
  width: calc(10 / 12 * 100%);
}

/*===格線RWD===*/
@media screen and (max-width: 768px) {
  .col-mobile-6 {
    width: calc(6 / 12 * 100%);
  }

  .col-mobile-12 {
    width: 100%;
  }

  main .container {
    width: 100%;
    padding: 0 12px;
  }
}
