@media screen and (max-width: 768px) {
  /* mobile layout */
  .col-mobile-6 {
    width: calc(6 / 12 * 100%);
  }

  .col-mobile-12 {
    width: 100%;
  }

  main .container {
    width: 100%;
    padding: 0 12px;
  }

  /* mobile utilities */
  .mb-mobile-8 {
    margin-bottom: 8px;
  }

  .mb-mobile-12 {
    margin-bottom: 12px;
  }

  .mb-mobile-16 {
    margin-bottom: 16px;
  }

  .mb-mobile-24 {
    margin-bottom: 24px;
  }

  .mb-mobile-32 {
    margin-bottom: 32px;
  }

  /*===base===*/
  /* header */
  .nav {
    padding: 13px 12px;
  }

  header .nav-links {
    display: none;
  }

  /* promotion */
  .promotion h3 {
    font-size: 20px;
    padding: 32px 0;
  }

  .promotion a {
    margin-left: 16px;
    padding: 8px 16px;
  }

  /* footer */
  .footer {
    padding: 32px;
  }

  .footer-nav,
  .footer-nav .nav-links {
    flex-direction: column;
  }

  .footer-nav .nav-links {
    margin-left: 12px;
    display: block;
  }

  .footer-nav .nav-links li {
    padding: 12px 0;
  }

  /*===page-index===*/
  /* main */
  .breadcrumb {
    font-size: 14px;
    margin-top: 16px;
  }

  .side-menu {
    display: none;
  }

  /* product-list */
  .product-list {
    width: 100%;
  }

  .product-cards {
    margin: 0 -6px;
  }

  .product-card {
    padding: 0 6px;
  }

  .product-card:last-of-type {
    display: block;
  }

  .product-name {
    margin-bottom: 0;
  }

  /*===page-platform-404===*/

  /*===page-brand-story===**/
  /* hero */
  .hero-filter {
    padding: 87px 0;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 20px;
  }

  /* quote */
  .quote {
    padding: 24px;
    text-align: left;
    margin-top: 32px;
  }

  /* main-image */
  .main-image-wrapper {
    padding: 0 12px;
    margin-bottom: 16px;
  }

  /* section */
  section {
    padding: 32px 0;
  }

  section h2 {
    font-size: 20px;
  }

  /* section-intro */
  .intro {
    padding-top: 0;
  }

  .intro h3 {
    font-size: 16px;
  }

  .intro h3 span {
    display: inline-block;
  }

  /* section-story */
  .story {
    margin-bottom: 32px;
  }

  /*===page-platform-404===*/
  /* main-product */
  .main-product {
    margin: 0;
    padding: 0;
  }

  /* product-images */

  .product-images {
    padding: 0;
  }

  .product-images li {
    padding: 0;
    margin-bottom: 8px;
  }

  .product-images li:not(:first-of-type) {
    display: none;
  }

  /* product-info */
  .product-info {
    padding: 0;
  }

  .product-info .description {
    padding: 0;
  }

  /* description */
  .product-info .title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
  }

  .product-info .price {
    font-family: Montserrat, sans-serif;
  }

  .product-info .price .current-price {
    font-size: 16px;
  }

  .product-info .price .current-price {
    font-size: 16px;
  }

  /* specs */
  .product-info .specs {
    padding: 0;
  }

  /* cta */
  .cta .add-like {
    display: none;
  }

  .cta .reservation {
    flex-grow: 1;
  }

  .cta .add-like-mobile {
    display: inline-block;
    width: 48px;
    padding: 12px 0;
  }

  .cta .add-like-mobile:active {
    background-image: url(../img/heart-fill.svg);
  }

  /* reference */
  .reference {
    padding: 40px 0;
    margin-bottom: 40px;
  }

  .refer-list {
    overflow-x: auto;
    gap: 16px;
    scroll-behavior: smooth;
  }

  .reference h2 {
    font-size: 20px;
  }

  .reference .image-container {
    width: 300px;
  }
}
