@media screen and (max-width: 768px) {
  /* mobile layout */

  /* mobile utilities */
  .mb-mobile-8 {
    margin-bottom: 8px;
  }

  .mb-mobile-12 {
    margin-bottom: 12px;
  }

  .mb-mobile-16 {
    margin-bottom: 16px;
  }

  .mb-mobile-24 {
    margin-bottom: 24px;
  }

  .mb-mobile-32 {
    margin-bottom: 32px;
  }
}
