/* utilities */
.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.heading {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.fw-500 {
  font-weight: 500;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.gap-8 {
  gap: 8px;
}

.gap-24 {
  gap: 24px;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
